.home-container {
    padding: 20px;
    border: 5px solid red;
    font-size: 22px;
    text-align: center;
    background-color: #ffff;
}

.home-content-container1 {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    background-color: #00285F;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
}

.home-content-text1 {
    align-items: center;
}

.home-content-container1 h1{
    font-size: 1em;
    font-weight: 700px;
    width: 500px;
    padding: ;
}

.home-content-container1 p{
    font-size: 14px;
    font-size: 0.7em;
    padding: 15px 0px 50px;
    font-weight: normal;
}

.home-content-image {
    padding: 62px 28px;
}

.home-content-image svg{
    width: 100%;
    height: auto;
}

.home-content-container2 {
    display: flex;
    flex-direction: column;
    background: #EDEDED;
    padding: 28px 70px;
    margin: 20px 10px;    
    border-radius: 10px;
    border: 2px solid green;
    text-align: center;
}

/*.home-content-container2 button {
    padding: 12px 37px 12px 36px;
    background: #00285F;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}*/

.home-content-container2 p {
    margin: 9px 51px 25px 50px;
    font-size: 18px;
    font-weight: normal;
    color: #585858;
}




@media (min-width: 576px) {
    .home-container {
        font-size: 36px;
    }

    .home-content-container2 {
        flex-direction: row;
        width: 535px;
        margin-top: 30px;

    }

    .home-content-image svg{
        width: 333px;
    }
    
    .home-content-container p {
        width: 199px;
        font-size: 20px;
        font-weight: normal;
      }


}

@media (min-width: 768px) {


}